.container {
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    background-color: var(--black);
    color: white;
}

.content {
    max-width: 800px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--spacing-huge) * 2);
    padding-inline: var(--spacing-large);
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 100%;
}

/* .searchContainer {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    padding: 0.5rem 2.5rem 0.5rem 0;
    color: var(--white);
    font-family: var(--font-roboto);
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #f5ba00;
    width: var(--font-size-large);
    height: var(--font-size-large);
} */

.soldiersList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.addButton {
    position: fixed;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
    background-color: #f5ba00;
    color: #111111;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;

    transition-property: background-color, transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        background-color: var(--primary-color-dark);
        color: var(--black);
    }
}

.addIcon {
    width: 2rem;
    height: 2rem;
}

.noSoldiers {
    width: 100%;
    text-align: center;
    padding-top: var(--spacing-medium);
    font-family: var(--font-roboto);
    font-weight: 100;
    font-size: 14px;
}