.imageVisualizerModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    z-index: 1000;
    background-color: var(--black);
    display: none;
    padding-inline: var(--spacing-large);
    overflow: hidden;

    &.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-block: var(--spacing-medium);
    padding-inline: var(--spacing-large);
}