.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spacing-huge);
  padding-block: calc(var(--spacing-huge) * 2);
  height: 100svh;
  background-image: url('/images/onboarding.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}

.onboarding::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, #111111e3 5%, #11111185 50%, #111111cf 76%);
}

.logo {
  height: 116px;
  width: 109px;
  z-index: 10;
}

.onboardingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  z-index: 10;
  gap: var(--spacing-small);

  p {
    color: var(--white);
    text-align: center;
  }
}

.onboardingText {
  font-family: var(--font-roboto);
  font-weight: 100;
  font-size: 14px;
}

.subtitle {
  margin-top: -16px;
  line-height: var(--line-height-p);
  font-weight: bold;
}

@container style(--is-mobile: true) {
  .main {
    padding: 3rem;
  }

  .title__wrapper {
    font-size: var(--font-size-large);
  }
}