.footer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
    color: var(--white-500);
    background-color: black;
    width: 100%;
    font-family: var(--font-roboto);
    gap: var(--spacing-tiny);
}

.footerSubtext {
    color: #9ca3af;
    margin-top: 4px;
}