.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.634);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding-inline: var(--spacing-large);
    overflow: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    background: var(--black-500);
    border-radius: var(--border-radius);
    font-family: var(--font-roboto);
    padding: 24px;
    width: 100%;
    max-width: 500px;
    text-align: start;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons > *:only-child {
  margin: 0 auto;
}