.heading {
    font-family: var(--font-big-shoulders-stencil);
    font-weight: bold;

    &.h1 {
        font-size: var(--font-size-huge);
    }

    &.h2 {
        font-size: var(--font-size-large);
    }

    &.h3 {
        font-size: var(--font-size-regular);
    }
}