.qrCodeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.qrCode {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 8px;
}

.qrCodeText {
    font-family: var(--font-roboto);
    font-weight: 100;
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;
}